@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --color-bg: #f9fafb;
  /* main background */

  /* link */
  --color-bg-link: #f9fafb;
  --color-bg-link-hover: #f3f4f6;

  /* bg-blue */
  --color-bg-blue: #eff6ff;
  --color-text-blue: #155dfc;
  /* main background when hover */
  --color-surface: #ffffff;
  /* cards, panels */
  --color-text: #111827;
  /* main text */
  --color-text-light: #4b5563;
  /* secondary text */
  --color-border: #e5e7eb;
  /* borders / dividers */

  /* blue accent */
  --color-primary: #2563eb;
  /* blue-600 */
  --color-primary-light: #3b82f6;
  /* blue-500 */
  --color-primary-dark: #1e40af;
  /* blue-800 */

  /* green accent */
  --color-success: #16a34a;
  /* green-600 */
  --color-success-light: #4ade80;
  /* green-400 */
  --color-success-dark: #166534;
  /* green-800 */

  /* shadows */
  --color-shadow: rgba(0, 0, 0, 0.55);
  --shadow: 0px 0px 4px var(--color-shadow);

  /* ///////////////////////////// */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --color-bg: #101828;
  /* main background */
  --color-bg-link: #364153;
  --color-bg-link-hover: #4a5565;

  /* bg-blue */
  --color-bg-blue: #1c398e;
  --color-text-blue: #51a2ff;

  --color-surface: #1e2939;
  /* cards, panels */
  --color-text: #f9fafb;
  /* main text */
  --color-text-light: #9ca3af;
  /* secondary text */
  --color-border: #374151;
  /* borders / dividers */

  /* blue accent */
  --color-primary: #155dfc;
  /* blue-500 */
  --color-primary-light: #60a5fa;
  /* blue-400 */
  --color-primary-dark: #1e3a8a;
  /* blue-900 */

  /* green accent */
  --color-success: #4ade80;
  /* green-400 */
  --color-success-light: #86efac;
  /* green-300 */
  --color-success-dark: #166534;
  /* green-800 */

  /* shadows */
  --color-shadow: rgba(0, 0, 0, 0.8);
  --shadow: 0px 0px 4px var(--color-shadow);
  /* /////////////// */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.wrapper {
  margin-inline: auto;
  position: relative;
  padding-inline: 1rem;

  /* smooth responsive max-width */
  width: 100%;
  max-width: clamp(320px, 90vw, 1240px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.register-container {
  .input-field {
    @apply flex flex-col gap-0.5;
  }

  input {
    @apply bg-(--color-bg) text-(--color-text) border border-(--color-border) placeholder:text-gray-500 placeholder:text-sm placeholder:font-sans rounded-md p-2;
  }

  #name {
    @apply flex flex-col gap-4 sm:flex-row max-sm:gap-2;
  }

  #name div {
    @apply flex-1;
  }

  a.active {
    @apply flex gap-2 text-gray-800 flex-1 h-full justify-center rounded-full font-bold items-center bg-gray-300 px-8;
  }
}

/* 
.login-form-container {
  .input-field {
    @apply flex flex-col gap-0.5;
  }

  input {
    @apply bg-(--color-bg) text-(--color-text) border border-(--color-border) placeholder:text-(--color-text-light) outline-0 placeholder:text-sm placeholder:font-sans rounded-md p-2 focus:border-2 focus:border-(--color-primary-light);
  }
} */

.registerNavigation {
  a.active {
    @apply flex gap-2 text-gray-800 flex-1 h-full justify-center rounded-full font-bold items-center bg-gray-300 px-8 max-lg:px-4;
  }

  a {
    @apply flex justify-center;
  }
}

.landingScape {
  background-image: url("./assets/landingScapeImage.jpg");
  @apply shadow-xl shadow-lime-500;
}

/* .filter {
  background-image: url("./assets/filterImage.png");
  background-size: 100% 100%;
  @apply h-[40vh] max-[1050px]:h-[50vh] flex flex-col justify-center p-10 gap-8 mb-6 rounded-xl;
}

.filterPreview {
  div {
    @apply flex gap-2 first:bg-blue-400 text-gray-600 first:text-white rounded-lg p-4 py-2 border-gray-700 border-2 cursor-pointer active:bg-blue-500;

    svg {
      @apply translate-y-1;
    }
  }
}

.nav {
  @apply p-2 fixed w-1/6;

  ul {
    @apply flex flex-col gap-8 text-lg justify-center w-full;

    li {
      @apply flex gap-2 justify-center [1200px]:justify-normal border-b-2 border-gray-400 py-3 border-dashed;

      a {
        @apply flex gap-2;

        svg {
          @apply translate-y-1 text-2xl text-blue-700;
        }

        span {
          @apply max-[1200px]:hidden;
        }
      }
    }
  }
}

.icon {
  @apply bg-gray-50 flex flex-col gap-3 justify-center items-center rounded-2xl;

  div {
    @apply p-4 w-fit bg-linear-30 from-blue-600 to-cyan-300 rounded-2xl max-sm:p-3;

    svg {
      @apply text-5xl fill-gray-100 max-sm:text-4xl;
    }
  }

  h4 {
    @apply text-lg font-semibold text-center max-sm:text-base;
  }

  a {
    @apply text-base cursor-pointer text-gray-800 hover:text-gray-500 max-sm:text-sm;
  }
}

.doctor {
  ul {
    @apply gap-1;
  }
}

.settingsSidebar {
  @apply flex flex-col gap-6;
  a {
    @apply flex gap-2 items-center;

    svg {
      @apply text-2xl max-md:text-xl;
    }
    p {
      @apply text-lg max-md:text-base;
    }
  }
} */
